.badge {
    width: fit-content;
    max-width: 12em;
    aspect-ratio: 4/1;
    margin: .5em;
    padding: .75em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-size: .875em;
    font-weight: 500;
    background-color: #F3F4F6;
    border-radius: .25em;
}

.red {
    color: var(--red-font);
    background-color: var(--red-bg);
}

.yellow {
    color: var(--yellow-font);
    background-color: var(--yellow-bg);
}

.green {
    color: var(--green-font);
    background-color: var(--green-bg);
}

.blue {
    color: var(--blue-font);
    background-color: var(--blue-bg);
}

.indigo {
    color: var(--indigo-font);
    background-color: var(--indigo-bg);
}

.purple {
    color: var(--purple-font);
    background-color: var(--purple-bg);
}

.pink {
    color: var(--pink-font);
    background-color: var(--pink-bg);
}
