#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-block: 3rem 7.5rem;
  padding-inline: 2rem;
}

.components-wrapper,
.component-display {
  display: flex;
  flex-direction: column;
  gap: 5em;;
}

.component-display {
  gap: 1em;
}

.toast-button {
  width: 10em;
  padding: 1em;
  border-radius: .5em;
  font-weight: 600
}