#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.components-wrapper,
.component-display {
  display: flex;
  flex-direction: column;
  gap: 5em;;
}

.component-display {
  gap: 1em;
}